<footer>
  <div class="footer-container">
    <div class="footer-logo">
      <a href="#" class="logo">
        <img src="https://cdn.prod.website-files.com/6498c91a9ebdd8aa639d67d1/64d4dfaa600bd67e51d812ae_accor.png" alt="Company Logo" />
      </a>
    </div>

    <div class="footer-links">
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Services</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </div>

    <div class="footer-social">
      <a href="#" class="social-icon"><img src="https://img.freepik.com/free-psd/social-media-logo-design_23-2151296987.jpg"></a>
      <a href="#" class="social-icon"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSiMhJqAUKx0PjeRb4Pt2u9pdsoNsp2n6CIng&s"></a>
      <a href="#" class="social-icon"><img src="https://img.freepik.com/premium-vector/instagram-vector-logo-icon-social-media-logotype_901408-392.jpg?semt=ais_hybrid&w=740"></a>
    </div>
  </div>
  
  <div class="footer-bottom">
    <p>&copy; 2025 Your Company. All rights reserved.</p>
  </div>
</footer>
