<header>
      <img class="img-l"
            src="https://cdn.prod.website-files.com/6498c91a9ebdd8aa639d67d1/64d4dfaa600bd67e51d812ae_accor.png" style="cursor: pointer;" routerLink="Home" alt="">
      <nav>
            <ul>
                  <li>
                        <a class="headeris-p" routerLink="/Home" [routerLinkActive]="activeClass">Home</a>
                  </li>
                  <li>
                        <a class="headeris-p" routerLink="/Hotels" [routerLinkActive]="activeClass">Hotels</a>
                  </li>
                  <li>
                        <a class="headeris-p" routerLink="/All-rooms" [routerLinkActive]="activeClass">Room</a>
                  </li>
                  <li>
                        <a class="headeris-p" routerLink="/Booked-rooms"[routerLinkActive]="activeClass">booked-rooms</a>
                  </li>
            </ul>
      </nav>
</header>