.overlay {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 1000;
      background-color: rgba(128, 128, 128, 0.315);
      .dialog {
            background-color: white;
            width: 300px;
            padding: 30px;
      }
}

