.hotel-cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
  padding: 32px;
  background-color: #f4f4f4;

  .ddiivv {
    // flex: 1 1 280px;
    // max-width: 320px;
    width: 450px;
  }
}



.hotelsCity {
  padding: 1rem;
  margin-bottom: 1rem;
  background-color: #f5f5f5;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out;

  &:hover {
    transform: translateY(-2px);
    background-color: #e0e0e0;
  }
}