<div class="room-parent">
  <div *ngFor="let room of [singleroom]" class="room-card">
    <div class="hotel-img">
      <ng-container *ngFor="let image of room.images">
        <img [src]="image.source" alt="{{ room.name }} image" class="room-img" />
      </ng-container>
    </div>

    <div class="room-details">
      <h3 class="room-name">{{ room.name }}</h3>
      <p class="room-price">
        Price per night: <strong>${{ room.pricePerNight }}</strong>
      </p>
      <p class="room-guests">
        Max guests: <strong>{{ room.maximumGuests }}</strong>
      </p>
      <p class="room-availability">
        Available: <strong>{{ room.available }}</strong>
      </p>
    </div>
    <div class="booking-form">
      <h2>Book this room</h2>

      <form (ngSubmit)="addBookedRoom()" #bookingForm="ngForm">
        <label>
          Your Name:
          <input type="text" [(ngModel)]="customerName" name="customerName" required />
        </label>

        <label>
          Your ID:
          <input type="text" [(ngModel)]="customerId" name="customerId" required />
        </label>

        <label>
          Phone Number:
          <input type="tel" [(ngModel)]="customerPhone" name="customerPhone" required />
        </label>

        <label>
          Check-In Date:
          <input type="date" [(ngModel)]="checkInDate" name="checkInDate" required />
        </label>

        <label>
          Check-Out Date:
          <input type="date" [(ngModel)]="checkOutDate" name="checkOutDate" required />
        </label>


        <p>totalPrice : {{ totalPrice}}</p>
        <button (click)="succes()" type="submit" [disabled]="!bookingForm.form.valid">Confirm Booking</button>

      </form>
    </div>

  </div>
</div>