


<!-- <app-room-filter (filterRoomL)="filterRoomList($event)"></app-room-filter> -->

<main>
  <div class="room-parent">
    <div *ngFor="let room of singleHotel?.rooms" class="room-card">
      <div class="hotel-img">
        <img [src]="room.images?.[0].source" alt="{{ room.name }} image" class="room-img" />
      </div>
      
      <div class="room-details">
        <h3 class="room-name">{{ room.name }}</h3>
        <p class="room-price">Price per night: <strong>${{ room.pricePerNight }}</strong></p>
        <p class="room-guests">Max guests: <strong>{{ room.maximumGuests }}</strong></p>
      </div>
    </div>
  </div>
</main>
















<!-- <div *ngFor="let room of singleHotel?.rooms">

  <p>Price per night: {{ room.pricePerNight }}</p>
  <p>Max guests: {{ room.address }}</p>
  <h3>{{room.name}}</h3>
  
  <img style="width: 300px; height: ;" [src]="room.featuredImage" alt="" />
</div> -->